  // Màu trạng thái
  $color-success: #28a745;
  $color-info: #046895;
  $color-warning: #E88B27;
  $color-danger: #dc3545;

  // Màu nền và trung tính
  $color-light: #f8f9fa;
  $color-dark: #343a40;
  $color-white: #fff;
  $color-black: #000;
  $color-charcoal: #343434;

  // Màu đỏ
  $color-red-dark: #CF0101;
  $color-crimson-brick: #C33636;
  $color-bg-light: #F2F2F2;
  $color-bg-medium: #F7F7F7;
  $color-bg-dark: #F8F8F8;

  // Màu chính
  $color-primary: #1749a5;
  $color-primary-hover: #03045E;
  $color-primary-active: #0247A2;
  $color-primary-light: #3579EA;

  // Màu xanh
  $color-dark-blue: #31435B;
  $color-light-blue: #CCE1F9;
  $color-powder-blue: #C5DFF6;
  $color-vivid-blue: #0371D0;
  $color-blue: #0050B1;
  $color-bright-blue: #0172D2;
  $color-vibrant-blue: #0092F6;
  $color-accent-blue: #084AA0;
  $color-green: #00B45A;
  $color-azure-blue: #4D8ADA;
  $color-emerald-green: #00c853;
  $color-mint-breeze: #C0F3E4;
  $color-sky-mist: #D8EDFF;
  $color-royal-blue: #025CB6;

  // Màu cam & vàng
  $color-light-orange: #E3A35E;
  $color-orange: #D64A3A;
  $color-yellow-transparent: #FFFBEB80;
  $color-beige-light: #F9F1D2;

  // Màu xám
  $color-ash-gray: #CBCBCB;
  $color-gray-light: #D9D9D9;
  $color-gray-medium: #979797;
  $color-gray-dark: #4D4D4D;
  $color-gray-soft: #7D7D7D;
  $color-gray-neutral: #ADADAD;
  $color-gray-muted: #9E9E9E;
  $color-gray-border: #E9E9E9;
  $color-gray-extra: #C1BEBE;
  $color-gray-silver: #A6A6A6;
  $color-gray-overlay: #4D4D4D33;
  $color-gray: #808080;
  $color-deep-gray: #474747;
  $color-light-gray: #EFEFEF;
  $color-misty-gray: #F4F5F5;
  $color-frost-gray: #EDEDED;
  $color-light-ash: #DDDDDD;
  $color-snow-gray: #f5f5f5;
  $color-foggy-gray: #373737;
  $color-soft-pewter: #C0BEBE;

  // Màu phụ
  $color-secondary: #606161;
  $color-secondary-dark: #333333;

  // Màu nhấn mạnh
  $color-accent-sky: #9AD4E7;
  $color-sky-light: #DFF1F9;
  $color-sky-dark: #0069CD;

  // Màu viền
  $color-border: #CFCFCF;
  $color-border-soft: #E6EDF6;